@page
@model Hotel_Management_Web.Pages.BookingDetails.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDetail[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDetail[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDetail[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDetail[0].Booking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDetail[0].Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookingDetail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookingDetailId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookingDetailId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookingDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
